.optional #connector {
    border-radius: 2px;
}

.optional #connector #cap {
    border-radius: 1px;
}
#connector #cap {
    border-width: 1px;
    margin: -1px;
}
DlogPort.input {
    margin-left: -12px;
}

DlogPort.check-port {
    margin-left: -16px;
}

DlogPort.output {
    margin-right: -12px;
}