.blackboardPropertyView * {
    font-size: 11px;
}

.blackboardPropertyView > .rowView {
    flex-direction: row;
    padding: 2px 2px 2px 10px;
}

.blackboardPropertyView > .rowView > .rowViewLabel {
    min-width: 50px;
}

.blackboardPropertyView > .rowView > .rowViewControl {
    flex: 1;
}

.blackboardPropertyView > .unity-imgui-container {
    margin: 4px 4px 4px 16px;
} 